pandas
numpy
scikit-learn
matplotlib
seaborn
scipy
statsmodels
plotly
jupyterlab
scikit-image
tensorflow
keras
torch
torchvision
transformers
nltk
spacy
gensim
beautifulsoup4
requests
flask
django
fastapi
sqlalchemy
pytest
black
flake8
mypy
pylint
-e .

